//Mixins
@mixin flex-center ($direction:row){
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}


//Extends 
%full-screen-fixed {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}