:root {
	--primary-color: hsla(230, 27%, 12%, 0.6);
	--secondary-color: hsla(0, 0%, 100%, 0.3);
	--text-color: whitesmoke;
	--bg-img: url('../img/bg-night.jpeg');
	--border:1px solid hsla(0, 0%, 100%, 0.125);
}

[data-theme="light"] {
	--primary-color: hsla(210, 30%, 95%, 0.5);
	--secondary-color: hsla(210, 20%, 30%, 0.2);
	--text-color: #33393c; 
	--bg-img: url('../img/bg-day.jpeg');
	--border: 1px solid hsla(216, 12%, 84%, 0.3);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	color: var(--white);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: var(--bg-img);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	color: var(--text-color);
	
}

.theme-switcher {
	padding: 5px;
	align-self: flex-start;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 8px;
	font-weight: 600;
	cursor: pointer;
	border: 1px solid var(--text-color);
	border-radius: 8px;
}

.profile-card{
	background-color: var(--primary-color);
	width: 40%;
	height: 90vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 24px;
	
    
    border: var(--border)
	
	
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
	text-align: center;
	gap: 10px;
}

.profile-card__avatar {
	border: solid 5px var(--text-color);
	border-radius: 100%;
}

.profile-card__user-data {
	line-height: 24px;
}

.profile-card__link{
	margin-right: 5px;
	font-size: 1.4rem;
}

.profile-card__link i{
	animation: focus-in-contract 3s linear;
    transition: 0.5s ease;
    cursor: pointer;
}
.profile-card__link i:hover {
    transform: scale(1.2);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 50%;
	font-weight: 800;
}

.profile-card__section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 72px;
	margin: 12px auto;
	border: 1px solid var(--text-color);
}

.profile-card__section a {
	text-decoration: none;
}

.profile-card__section:hover {
	background-color: var(--secondary-color);
	transform: scale(1.1);
}



footer {
	display: flex;
	justify-content: center;
	align-items: end;
	width: 100%;
	height: 10%;
	font-size: 0.9rem;
	position: relative;
	
}

footer small {
	position: absolute;
	bottom: 15px;
	
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait){
	
	.profile-card {
		width: 75%;
	}
}

@media screen and (min-width:350px) and (max-width:760px) and (orientation: portrait){
	
	.profile-card {
		width: 90%;
	}
}
