:root {
	
	--primary-color:hsla(240, 1%, 17%, 0.6);
	--secondary-color: hsla(227, 100%, 84%, 0.5);
	--white: whitesmoke;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	color: var(--white);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*background: linear-gradient(
	-45deg,
	#1a1952,  
	#adc0ff
	);*/
	width: 100%;
	height: 100vh;
	
}

.profile-card{
	background-color: var(--primary-color);
	width: 80%;
	height: 90vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 24px;
	
	
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
	text-align: center;
	gap: 10px;
}

.profile-card__avatar {
	border: solid 5px whitesmoke;
	border-radius: 100%;
}

.profile-card__user-data {
	line-height: 24px;
}

.profile-card__link{
	margin-right: 5px;
	font-size: 1.4rem;
}

.profile-card__link i{
	animation: focus-in-contract 3s linear;
    transition: 0.5s ease;
    cursor: pointer;
}
.profile-card__link i:hover {
    transform: scale(1.2);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 50%;
	font-weight: 800;
}

.profile-card__section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 72px;
	margin: 12px auto;
	border: 1px solid lightgray;
	box-shadow:0 4px 8px,rgba(0,0,0,0.16);

	
	
}



footer {
	display: flex;
	justify-content: center;
	align-items: end;
	width: 100%;
	height: 10%;
	font-size: 0.9rem;
	position: relative;
	
}

footer small {
	position: absolute;
	bottom: 15px;
	
}
