:root {
	--bg-color: #adc0ff;
}
html {
	font-size: 62.5%;	
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	color:black;
	
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
	-45deg,
	#1a1952,  
	#adc0ff
	);
	width: 100%;
	min-height: 100vh;
}

.profile-card{
	background-color: var(--bg-color);
	width: 80%;
	height: 80%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
	text-align: center;
	gap: 10px;
}

.profile-card__avatar {
	border: solid 5px whitesmoke;
	border-radius: 100%;
}

.profile-card__link{
	margin-right: 5px;
	font-size: 1.0rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 50%;
	font-weight: 800;
}

.profile-card__section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 48px;
	margin: 24px auto;
	border: 1px solid lightgray;
}



footer {
	display: flex;
	justify-content: center;
	align-items: end;
	width: 100%;
	height: 10%;
	font-size: 0.9rem;
	position: relative;
}

footer small {
	position: absolute;
	bottom: 5px;
}
